<p>Поле "{{ field }}" в "{{ model }}"</p>
{% if entry_set %}
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>Время</th>
                <th>Пользователь</th>
                <th>Старое значение</th>
                <th>Новое значение</th>
            </tr>
        {% for entry in entry_set %}
            <tr class="{% cycle 'white' 'gray' %}">
                <td>{{ entry.action_time|date:"d.m.Y H:i:s" }}</td>
                <td>{{ entry.user|default:'?' }}</td>
                <td>
                    {% if entry.action_flag == 2 %}{# CHANGE #}
                    {{ entry.oldvalue|default_if_none:"—" }}
                    {% endif %}
                </td>
                <td>
                    {% if entry.action_flag == 2 %}{# CHANGE #}
                    {{ entry.newvalue|default_if_none:"—" }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
{% else %}
    <div class="alert alert-info margin-top"><b>Записей не найдено.</b> Нет ни одной записи в логах для этого поля.</div>
{% endif %}